.questions{
    padding: 0 70px;
    background-color: #142941;
    display: flex;
    justify-content: space-between;
}
.questions .left{
    width: 31.5%;
}
.questions .left p{
    font-family: "Poppins", sans-serif;
    color: #D9ECFF;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 18px;
}
.questions .left h3{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    color: #FFFFFF;
    padding-bottom: 22px;
}
.questions .left button{
    background-color: #FAB437;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 85px;
}
.questions .left img{
    padding-left: 70px;
}
.questions .right{
    width: 59%;
}
.questions .right .flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    
}
.questions .right .padding{
    padding-top: 56px;
    border-bottom: 1px solid #E1EFFF80;
}
.questions .right .question{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #D9ECFF;
}
.questions .right .answer{
    font-family: "Poppins", sans-serif;
    font-family: 16px;
    font-family: 400;
    line-height: 28px;
    color: #D9ECFF;
    padding-bottom: 32px;
    border-bottom: 1px solid #E1EFFF80;

}