.category{
    width: 18.24%;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #364C65;
    border: 2px solid #DADAF780;
    border-radius: 20px;
    margin-top: 48px;
    margin-bottom: 33px;
}
.category p{
    color: #D9ECFF;
    font-size: 18px;
    font-weight: 500;
}